@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Quicksand&display=swap');

body{
	margin: 0;
	padding: 0;
	height:130vh;
}

#particles-js{
	height: 100%;
	background: #020408;
}

/*button{
	background: #0a2063;
	font-family: "Quicksand";
	font-size: small;
	opacity: 0.8;
}*/

button {
  background-color:#0a2063; /* Green */
  border: none;
  font-family: "Quicksand";
  color: white;
  padding: 15px 32px;
  text-align: center;
  font-size: small;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  opacity: 0.5;
}

.box{
	position: absolute;
	max-width: 50%;
	background: rgba(255,255,255,0.0);
	box-shadow:0 15px 45px rgba(0,0,0,0.0);
	padding: 20px;
	
    word-wrap: break-word;
    overflow-wrap: break-word;
    backdrop-filter: none;
    text-align: center;
    width: 300px;
    height: 200px;
    top: 50%;
    left: 50%;
    margin-left: -150px;
    margin-top: -100px;
    
}

a {
    color: aliceblue;
    text-decoration:underline;
    padding: 10px;
    display: inline-block;
    background: rgba(0,0,0,0.0);
    margin: 4px;
    border-radius: 4px;
    font-family: 'Open Sans', sans-serif;
}

.box h2{
  margin: 0 0 20px;
  font-size: 48px;
  color: white;
  font-family: 'Quicksand', sans-serif;
}

.box p{
  color:antiquewhite;
  font-family: 'Open Sans', sans-serif;
}